body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.taskTable__participantsList .ant-list-empty-text{
  height: 100px!important;
}
.taskTable__participantsList .ant-empty-normal{
  margin: 0!important;
}

.week__controls{
  display: flex;
  justify-content: space-between;
}
.controls__weekChange button{
  margin-right: 5px;
}
.controls__newTask{
  align-self: flex-end;
}
