body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a, a:active, a:hover, a:visited { outline: none!important; text-decoration: none!important; }

.taskTable__participantsList .ant-list-empty-text{
  height: 100px!important;
}
.taskTable__participantsList .ant-empty-normal{
  margin: 0!important;
}
.data__form .ant-row{
  margin-bottom: 0px!important;
}
.ant-form-item-label{
  line-height:30px!important;
}
.ant-form-item{
  margin-bottom: 0!important;
}
.ant-select, .ant-input-number, .ant-calendar-picker{
  width: 100%!important;
}
.form__botomButton{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table__controls{
  display: flex;
  justify-content: space-between;
}
.controls__change button{
  margin-right: 5px;
}
.controls__newTask{
  align-self: flex-end;
}
.participants{
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
  padding: 10px 0px;
  margin-bottom: 15px;
}
.list__participantItem{
  display: flex;
  justify-content: space-between;
}
.list__participantItem p{
  align-self: center;
}
.participants__addNewParticipants{
  display: flex;
  justify-content: space-between;
}
